body {
    background-image: url("bg-img-2.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-size: 90%; */
  }
  /* .h1{
      font-size: large;
      color: azure;
  }
  .p{
      font-size: medium;
      color: azure;
  } */
  .bg-image {
    /* Adjust background image properties */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  h1, p, a {
    /* Customize text styles */
    color: white;
    text-align: center;
    /* Add additional styles as needed */
  }